.header__logo {
    position: relative;
}

.header-nav__button{
    position: absolute;
    right: 5%;
    transform: translateY(-90%);
    padding: 10px 25px;
    color: #c4b6a5;
    font-size: 16px;
    background-color: #f3f3f2;
    border: 1px solid #c4b6a5;
    border-radius: 1px;
    text-decoration: none;
    cursor: pointer;
}

.admin__heading {
    margin: 0;
    text-align: center;
    color: #8C7A6A;
    font-size: 35px;
    letter-spacing: 0.05em;
    font-weight: 300;
    font-family: 'Inika', serif;
}

.admin__condition {
    margin: 0 auto;
    margin-bottom: 25px;
    width: 75%;
}

.condition__content{
    width: 100%;
}

.form {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.form__input input, select {
    padding: 13px 15px;
    border: 1px solid #c8baac;
    border-radius: 1px;
    background: #F4F4F4;
    appearance: none;
    color: #8C7A6A;
}

input::placeholder {
    color: #c8baac;
}

.keyword input{
    background: #fcfbfb;
    width: 300px;
}

select, .date input {
    background-image: url("../img/triangle-admin.svg");
    background-repeat: no-repeat;
    background-size: 16px auto;
    background-position: right 10px center;
}

.date input {
    height: 43px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
}

.form__button button {
    padding: 11px 15px;
    width: 100px;
    border: 1px solid #c4b6a5;
    border-radius: 1px;
    background: #82756a;
    color: #fff;
    cursor: pointer;
}

.reset {
    padding: 11px 15px;
    width: 100px;
    height: 43px;
    border: 1px solid #c4b6a5;
    border-radius: 1px;
    background: #D9C6B5;
    color: #fff;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
}

a, a:focus {
    color: inherit;
    text-decoration: none;
}

.actinon__button {
    width: 100%;
}

.admin__action {
    margin: 0 auto;
    margin-bottom: 3px;
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.export button {
    margin-top: 1px;
    margin-bottom: 8px;
    padding: 7px 15px;
    width: 120px;
    border: 1px solid #c4b6a5;
    border-radius: 1px;
    background: #eceae6;
    color: #9e8c7e;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.page-item.active .page-link {
    background-color: #82756a;
    border-color: #8C7A6A;
    color: #fff;
}

.page-link {
    color: #82756a;
    text-decoration: none;
    border: 1px solid #dad0c8;
    padding: 6px 10px;
    margin-left: -1px;
}

.page-item:first-child .page-link {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 0;
}

.page-item:last-child .page-link {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.table {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 75%;
}

.admin-table {
    width: 100%;
    border: 1px solid #e9e3dc;
    border-radius: 1px;
    border-collapse: collapse;
}

.admin-table__header {
    padding: 15px 0px;
    padding-left: 30px;
    text-align: left;
    background: #82756a;
}

.table__row {
    color: #fff;
    flex-wrap: nowrap;
}

.admin-table__item {
    padding: 0px 0px;
    padding-left: 30px;
    border-top: 1px solid #e9e3dc;
    text-align: left;
}

.admin-table__row:hover {
    background: #e9e3dc;
    color: #5e544d;
}

.table__item {
    color: #82756a;
    font-family: "Playfair Display", sun-serif;
}


.table__button label {
    margin-right: 10px;
    padding: 8px 17px;
    border: 1px solid #c8baac;
    border-radius: 1px;
    background: #fcfbfb;
    color: #c8baac;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
}

.modal {
    display: none;
    position: absolute;
    inset: 0;
    z-index: 100;
    overflow-y: auto;
}

.modal-toggle:checked + .modal {
    display: block;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.05);
}

.modal-content {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    padding: 100px 60px 70px 70px;
    background: #fff;
    border: 1px solid #c8baac;
    border-radius: 1px;
    box-shadow: 2px 2px 3px rgba(161, 123, 90, 0.3);
    z-index: 101;
}

.modal-close {
    position: absolute;
    padding: 0px 10px 2px;
    top: 25px;
    right: 30px;
    cursor: pointer;
    font-size: 20px;
    color: #aea295;
    border: 1px solid #c8baac;
    border-radius: 50%;
}

.modal-group__box {
    margin: 0px auto;
    width: 100%;
}

.modal-group {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
}

.group-title {
    margin-right: 30px;
    width: 35%;
    color: #82756a;
    font-weight: bold;
}

.group-content {
    width: 65%;
    color: #9e8c7e;
    font-family: "Playfair Display", sun-serif;
}

.message {
    font-size: 14px;
    letter-spacing: -0.05em;
}

.modal-button {
    margin-top: 50px;
    text-align: center;
}

.modal-button button {
    padding: 10px 20px;
    border: none;
    border-radius: 1px;
    background: rgb(174, 1, 1);
    color: #fff;
    cursor: pointer;
}
