html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-color: #F1ECE6;
}

.header__logo {
    position: relative;
}

.header-nav__link {
    position: absolute;
    right: 7%;
    padding: 5px 22px;
    color: #c4b6a5;
    background-color: #f3f3f2;
    border: 1px solid #c4b6a5;
    border-radius: 1px;
    text-decoration: none;
}

.login-form__content {
    margin: 0;
    padding: 15px 15px;
}

.login-form__heading {
    margin-bottom: 20px;
    text-align: center;
    color: #8C7A6A;
    font-size: 35px;
    letter-spacing: 0.05em;
    font-weight: 300;
    font-family: 'Inika', serif;
}

.login-form__content-box {
    margin: 20px auto;
    padding: 50px 10px;
    width: 35%;
    border: 2px solid #e9e3dc;
    border-radius: 7px;
    background: #fff;
}

.form {
    margin: 0 auto;
    text-align: center;
}

.form__group {
    margin-bottom: 30px;
}

.form__group-title {
    text-align: left;
    padding-left: 10%;
    color: #8C7A6A;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
    padding-left: 10%;
}

.form__input--text input {
    padding: 10px 20px;
    width: 80%;
    height: 50px;
    color: #8C7A6A;
    background: #F4F4F4;
    border: none;
    border-radius: 3px;
}

input::placeholder {
    color: #a99381;
    font-size: 15px;
    font-family: "Playfair Display", sun-serif;
}

.form__button {
    margin-top: 50px;
}

.form__button-submit {
    padding: 5px;
    width: 30%;
    height: 40px;
    border: none;
    border-radius: 2px;
    background: #82756B;
    color: #fff;
    cursor: pointer;
}
